<mat-sidenav-container>

    <mat-sidenav-content>
        <div class="text-center">
            <div class="row justify-content-center align-items-center flex-grow-1">
                <div class="col-12 mt-4">
                    <span class="fancy-text-reflection">BIENVENIDO A BEST STATISTICS</span>
                </div>
                <div class="col-6">
                    <p class="introduction">
                        Si eres un apasionado del fútbol y te gusta analizar estadísticas
                        antes de hacer tus apuestas, ¡has llegado al lugar indicado!
                        Aquí encontrarás datos actualizados, tendencias, y métricas clave de los equipos
                        y jugadores para ayudarte a tomar decisiones más informadas.
                        Explora estadísticas de rendimiento, historial de enfrentamientos,
                        cuotas en tiempo real y análisis detallados para que puedas apostar con confianza.
                        ¡Convierte la información en tu mejor aliado y lleva tu estrategia al siguiente nivel!
                        
                        📈 Datos precisos, decisiones inteligentes. 💰⚡
                    </p>
                </div>
                <div class="col-12">
                    <button id="btnGo" (click)="startAnimation()">
                        ⚽
                    </button>
                </div>
                <div class="col-10">
                </div>
                <div class="col-2">
                    <span class="btnRegister" (click)="register()">
                        Registrar Partido
                    </span>
                </div>
            </div>
        </div>
    </mat-sidenav-content>

</mat-sidenav-container>